<!--<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 borde text-center align-self-center ocultar_logo">
                <img src="assets/logo_perueduca.png" class="logo"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 align-self-center borde">
                <p class="titulo">Conoce nuestros nuevos Cursos Virtuales</p>
                <p class="textotitulo">Te invitamos a participar del espacio de Formación Virtual, orientado a
                    fortalecer tus capacidades.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 borde text-right align-self-center mostrar_logo">
                <img src="assets/logo_perueduca.png"></div>
        </div>
    </div>
</div>-->
<router-outlet>
</router-outlet>