<div class="site-section22 m-2">
    <div class="container cajaregistro">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde text-center align-self-center">
                <p class="textopregunta py-4" *ngIf="!isRegistration">Preinscríbete</p>
                <p class="textopregunta py-4" *ngIf="isRegistration">Inscríbete</p>
                <div class="row mb-1 barra justify-content-center">
                </div>
                <p class="textocontenido py-0">Para participar en el curso <span
                        class="txtresaltado">{{courseName}}</span>.<br>Ingrese
                    su usuario (correo electrónico) y contraseña de PerúEduca.</p>

            </div>

        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="row justify-content-center py-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde py-2">
                    <div class="boton2ACT text-center">
                        <input type="text" class="form-control formula" formControlName="email"
                               name="username" placeholder="Usuario"
                               [maxLength]="50"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde text-center py-2">
                    <div class="boton2 text-center">
                        <input type="text" class="form-control formula" type="password" formControlName="password"
                               [maxLength]="50" placeholder="Contraseña"></div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" align="center">
                    <re-captcha (resolved)="resolved($event)"
                                siteKey="{{siteKey()}}">
                    </re-captcha>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 borde py-2">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 boton1 text-center py-3">
                            <a (click)="onSubmit()">Continuar</a></div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 boton4 text-center py-3"><a
                                href="{{index()}}">Cancelar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 borde text-left py-4" [hidden]="showLinkModal">
                    <div class="boton1 text-center"><a id="modalIDCourse" data-toggle="modal" data-target="#myModal">Finalizar</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 borde text-left py-4" [hidden]="showLinkModalLogin">
                    <div class="boton1 text-center"><a id="modalIDCourseLogin" data-toggle="modal" data-target="#myModalLogin">Finalizar</a>
                    </div>
                </div>
            </div>
        </form>

        <div>
            <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
                {{ errorMessage }}
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 borde py-0">
                <div class="textoenlace text-center"><a
                        href="http://www.perueduca.pe/inicio?p_p_id=58&p_p_lifecycle=0&p_p_state=maximized&p_p_mode=view&_58_struts_action=%2Flogin%2Fforgot_password"
                        target="_blank">¿Olvidaste tu contraseña?</a></div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 borde text-center py-0">
                <div class="textoenlace text-center"><a href="http://www.perueduca.pe/registro" target="_blank">Regístrate
                    aquí</a></div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 borde text-left py-0">
                <div class="textoenlace text-center"><a href="http://www.perueduca.pe/ayuda/" target="_blank">¿Necesitas
                    Ayuda?</a></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalLogin">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row px-0 py-0">
                        <button type="button" class="Xcerrar px-0 py-0"><a (click)="reloadPage()"
                                                                           data-dismiss="">&times;</a>
                        </button>
                    </div>
                    <div class="row barraperfil p-5">
                        {{errorMessage}}, por favor intente nuevamente.
                        <div class="col-12 col-md-12 p-4 borde2 text-center">
                            <div class="boton1 text-center"><a (click)="reloadPage()">Aceptar</a></div>
                        </div>

                    </div>
                </div>
                <!-- Modal footer -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row px-0 py-0">
                        <button type="button" class="Xcerrar px-0 py-0"><a href="{{index()}}"
                                                                           data-dismiss="">&times;</a>
                        </button>
                    </div>
                    <div class="row barraperfil p-5">
                        <div class="col-12 col-md-12 p-2 borde2 text-center txtlogincontenido"><p
                                class="txtlogin1 py-0"><b>Estimado, {{teacher}}</b></p><br>
                            Ud. ya tiene una <span *ngIf="!isRegistration">preinscripción</span>
                            <span *ngIf="isRegistration">inscripción</span> registrada en el curso seleccionado.
                        </div>

                        <div class="col-12 col-md-12 p-4 borde2 text-center">
                            <div class="boton1 text-center"><a href="{{index()}}">Aceptar</a></div>
                        </div>

                    </div>
                </div>
                <!-- Modal footer -->
            </div>
        </div>
    </div>

</div>
