<div class="site-section22 m-2">
    <div class="container cajaregistro">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde text-center align-self-center">
                <p class="textopregunta py-4" *ngIf="!isRegistration">Preinscríbete</p>
                <p class="textopregunta py-4" *ngIf="isRegistration">Inscríbete</p>
                <div class="row mb-1 barra justify-content-center txtresaltado">
                    <span class="">  {{courseName}} </span>
                </div>
                <p class="textocontenido py-0">Por favor complete los siguientes datos para finalizar con su
                    <span *ngIf="!isRegistration">preinscripción</span>
                    <span *ngIf="isRegistration">inscripción</span>
                </p>
            </div>
        </div>

        <form class="example-form" [formGroup]="form">
            <div class="row justify-content-center py-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde py-2">
                    <div class="boton2ACT text-center"><input type="text" class="form-control formula" [readonly]="true"
                                                              formControlName="firstName" [value]="user.firstName">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde text-center py-2">
                    <div class="boton2 text-center"><input type="text" class="form-control formula" [readonly]="true"
                                                           formControlName="lastName" [value]="user.lastName">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde py-2">
                    <div class="boton2ACT text-center"><input type="text" class="form-control formula"
                                                              formControlName="email" [maxLength]="30"
                                                              placeholder="Correo electrónico personal"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde text-center py-2">
                    <div class="boton2 text-center"><input type="text" class="form-control formula"
                                                           formControlName="phone" [maxLength]="9" number-input
                                                           placeholder="Número de celular"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde text-left py-2">
                    <div class="boton2 text-center">
                        <select class="form-control boton-datos formula" formControlName="region">
                            <option value="00" selected class="boton-registro">Seleccione una región</option>
                            <option value="01">Amazonas</option>
                            <option value="02">Áncash</option>
                            <option value="03">Apurímac</option>
                            <option value="04">Arequipa</option>
                            <option value="05">Ayacucho</option>
                            <option value="06">Cajamarca</option>
                            <option value="07">Callao</option>
                            <option value="08">Cusco</option>
                            <option value="09">Huancavelica</option>
                            <option value="10">Huánuco</option>
                            <option value="11">Ica</option>
                            <option value="12">Junín</option>
                            <option value="13">La Libertad</option>
                            <option value="14">Lambayeque</option>
                            <option value="15">Lima</option>
                            <option value="16">Loreto</option>
                            <option value="17">Madre de Dios</option>
                            <option value="18">Moquegua</option>
                            <option value="19">Pasco</option>
                            <option value="20">Piura</option>
                            <option value="21">Puno</option>
                            <option value="22">San Martín</option>
                            <option value="23">Tacna</option>
                            <option value="24">Tumbes</option>
                            <option value="25">Ucayali</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 borde py-2">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 boton1 text-center py-3">
                            <a (click)="register()">Finalizar</a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 boton4 text-center py-3"><a
                                href="{{index()}}">Cancelar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 borde text-left py-4" [hidden]="showLinkModal">
                    <div class="boton1 text-center"><a id="modalID" data-toggle="modal"
                                                       data-target="#myModal">Finalizar</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde text-left py-2">
                    <div class="alert alert-danger" role="alert" *ngIf="existError">
                        {{ errorMessage }}
                    </div>
                </div>

                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">


                            <div class="modal-body">
                                <div class="row px-0 py-0">
                                    <button type="button" class="Xcerrar px-0 py-0"><a href="{{index()}}"
                                                                                       data-dismiss="">&times;</a>
                                    </button>
                                </div>
                                <div class="row barraperfil p-5">

                                    <div class="col-12 col-md-12 p-2 borde2 text-center txtlogincontenido"><p
                                            class="txtlogin1 py-0"><b>Estimado(a), </b></p><br>
                                        <span class="titulologinVentana">{{user.firstName}} {{user.lastName}}</span><br><br>
                                        te <span *ngIf="!isRegistration"> preinscribiste </span> <span
                                                *ngIf="isRegistration"> inscribiste </span> correctamente.
                                    </div>
                                    <div class="col-12 col-md-12 p-4 borde2 text-center">
                                        <div class="boton1 text-center"><a href="{{index()}}">Aceptar</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal footer -->
                        </div>
                    </div>
                </div>
                <!-- FIN POPUP -->
            </div>
        </form>

    </div>
</div>
