@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('/assets/fonts/GothamRounded-Medium.eot');
  src: url('/assets/fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/GothamRounded-Medium.woff') format('woff'),
  url('/assets/fonts/GothamRounded-Medium.ttf') format('truetype'),
  url('/assets/fonts/GothamRounded-Medium.svg#futura_bk_btbook') format('svg');
  }
  @font-face {
    font-family: 'GothamRounded-Bold';
    src: url('/assets/fonts/GothamRounded-Bold.eot');
    src: url('/assets/fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/GothamRounded-Bold.woff') format('woff'),
    url('/assets/fonts/GothamRounded-Bold.ttf') format('truetype'),
    url('/assets/fonts/GothamRounded-Bold.svg#futura_bk_btbook') format('svg');
    }
    @font-face {
      font-family: 'GothamRounded-Book';
      src: url('/assets/fonts/GothamRounded-Book.eot');
      src: url('/assets/fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/GothamRounded-Book.woff') format('woff'),
      url('/assets/fonts/GothamRounded-Book.ttf') format('truetype'),
      url('/assets/fonts/GothamRounded-Book.svg#futura_bk_btbook') format('svg');
      }

html {
  overflow-x: hidden;
}

body {
  background-color: #f8f9fa;

}
p{
  padding: 0px;
  margin: 0px;
}

.enlace {
  font-family: "GothamRounded-Medium";
  font-size: 1rem !important;
  color: #525252 !important;
  padding-bottom: 0;
  padding: 10px 15px;
}
.enlace a {
  font-size: 1rem !important;
  color: #2282ff;
  text-decoration: none;
}
.enlace a:hover {
  font-size: 1rem !important;
  color: #2282ff;
  text-decoration: underline;
}


.img-fluid {
 max-width: 100%;
 height: auto;
}

.img-logo {
  max-width: 70%;
  height: auto;
 }

.site-section {
  background-color: #ffffff;
  border-bottom: 1px solid #58595B;
  padding-top:15px;
  padding-bottom: ;
  height: 100px !important;

}

.alineadocentro {
  justify-content: center;
}

.barramenu {
  background-color: #ff2e45;
  height: 45px;

}
.backtitulo {
  margin: 0px 0px 0px 0px;
}
.backregistro {
  border-radius: 10px;
  margin: 0px 0px 0px 0px;
  background: #ffffff;
  border: 1px solid #d3e6ff;
}

.backSUBTITULO {
  font-family: "GothamRounded-bold";
  font-size: 1.1rem;
  border-radius: 0px 0px 0px 0px;
  margin: 0px 0px 15px 0px;
  padding: 15px;
  background: #f8f9fa;
  border-top: 3px solid #2282ff;
  color: #2282ff;
}

.barrapopup {
  padding: 1px 1px 1px 1px;
  border-radius: 10px;
  margin: 3px 0px 3px 0px;
  background: #fff;
  border: 1px solid #ededed;
}

.titulo {
  font-family: "GothamRounded-bold";
  font-size: 1.6rem;
  color: #525252 !important;
  padding-bottom: 0;
}
.titulo a {
  color: #ff2e45;
}
.titulo a:hover {
  color: #ff2e45;
  text-decoration: underline;
}

.subtitulo {
  font-family: "GothamRounded-Medium";
  font-size: 1.2rem;
  color: #ff2e45 !important;
  padding-bottom: 10px;
  padding-top: 10px;

}
.subtitulo a {
  color: #ff2e45;
}
.subtitulo a:hover {
  color: #ff2e45;
  text-decoration: underline;
}

.titulocampo {
  font-family: "GothamRounded-book";
  font-size: 0.9rem;
  color: #525252 !important;
  padding: 2px 5px;
}
.titulocampo a {
  color: #ff2e45;
  text-decoration: underline;
}
.titulocampo a:hover {
  color: #ff2e45;
  text-decoration: none;
}

.backcirculo {
  border-radius: 20px !important;
  margin: 0px 0px 0px 5px;
  padding: 7px 11px 7px 11px;
  background: #c0c7ce;
  border: 3px solid #f0f3f6;
  font-family: "GothamRounded-book";
  font-size: 1rem;
  LINE-HEIGHT:15px;
  color: #ffffff;
}


.textocampos {
  font-family: "GothamRounded-book";
  font-size: 0.95rem;
  color: #6f6f6f !important;
}

.textocampos2 {
  font-family: "GothamRounded-book";
  font-size: 0.85rem;
  color: #6f6f6f !important;
}

.textocontenido {
  font-family: "GothamRounded-Medium";
  font-size: 0.9rem;
  color: #6f6f6f !important;
}
.textocontenido a {
  color: #ff2e45;
  text-decoration: underline;
}
.textocontenido a:hover {
  color: #ff2e45;
  text-decoration: none;
}


.btn-primary {
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  background-color: #2282ff;
  border-color: #2282ff;
}
.btn-primary:hover {
  background-color: #ff2e45;
  border-color: #ff2e45;
}
.btn-primary:active {
  background-color: #ff2e45;
  border-color: #ff2e45;
}
.btn-primary:visited{
  background-color: #ff2e45;
  border-color: #ff2e45;
}
.btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2);
}

.boton1 {
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  text-align: center;
  padding: 10px 15px 10px 15px;
  border:  rgba(255, 46, 69, 1);
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: #2282ff !important;
}

.boton1:hover {
  background-color: rgba(255, 46, 69, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
 }
 .boton1:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2) !important;
 }

 .boton2 {
  font-family: "GothamRounded-Medium";
  font-size: 0.8rem;
  text-align: center;
  padding: 5px 11px 5px 11px;
  border:  rgba(34, 130, 255, 1) 1px solid;
  color: #2282ff;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: #ffffff !important;
  margin: 0px;
}

.boton2:hover {
  background-color: rgba(34, 130, 255, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
 }
 .boton2:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2) !important;
 }

 .boton3 {
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  text-align: center;
  padding: 10px 15px 10px 15px;
  border:  rgba(255, 46, 69, 1);
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: rgba(255, 46, 69, 1) !important;
}

.boton3:hover {
  background-color: rgba(34, 130, 255, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
 }
 .boton3:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2) !important;
 }

 #tabs{
  border-bottom: 0px solid #ededed !important;
  cursor: pointer !important;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: rgba(34, 130, 255, 1) !important;
  border: #ffffff 0px solid !important;
  border-radius: 5px 5px 0px 0px !important;
  border-right: #ffffff 1px solid !important;
  cursor: pointer !important;
}

#tabs .nav-tabs .nav-link {
font-family: "GothamRounded-Medium";
text-align:center;
cursor: pointer !important;
}
#tabs .nav-tabs a:hover {
  background-color: rgba(34, 130, 255, 1) !important;
  color: rgba(255, 255, 255, 1);
  cursor: pointer !important;
 }

#tabs .nav-tabs {
  border-bottom: #ff2e45 0px solid !important;
}

 .botontab1 {
  font-family: "GothamRounded-Medium";
  font-size: 0.9rem;
  text-align: center;
  padding: 5px 1px !important;
  margin: 0px;
  color: #ffffff !important;
  text-decoration: none !important;
  background-color: #6f6f6f !important;
  border-radius: 5px 5px 0px 0px !important;
  border-right: #ffffff 1px solid !important;
  cursor: pointer !important;
}

.botontab1:hover {
  background-color: rgba(34, 130, 255, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border: #2282ff 1px solid !important;
  cursor: pointer !important;
 }

 .botontab1:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2) !important;
 }

 .linea {
  border-bottom: #ededed 1px solid;
}

 /**TABLA**/
 .fila1 {
  font-family: "GothamRounded-Medium";
  font-size: 0.8rem;
  text-align: left;
  padding: 0px 0px;
  color: #ffffff;
  background-color: #6f6f6f !important;
}

.fila2 {
  font-family: "GothamRounded-book";
  font-size: 0.75rem;
  text-align: left;
  padding: 0px 0px;
  margin: 0px;
}







 /**PIE DE PAGINA**/
 .pie {
  padding: 0px 0px;
  background-color: #3b3b3a;
  padding-top: 10px;
  padding-bottom: 10px;
}
.textopie {
  font-family: "GothamRounded-book";
  font-size: 0.8rem;
  color: #ffffff !important;
  LINE-HEIGHT:20px;
}
.textopie a {
  color: #ffffff;
}
.textopie a:hover {
  color: #ffffff;
  text-decoration: underline;
}


@media (min-width: 992px) {
  .ocultar_pie {
    display: none;
  }
}

@media (max-width: 992px) {
  .mostrar_pie {
    display: none;
  }
  .textopie {
    font-family: "GothamRounded-book";
    font-size: 0.7rem;
    color: #ffffff !important;
    LINE-HEIGHT:15px;
  }
  .logominedu {
    width: 160px;
  }
  .botontab1 {
    font-family: "GothamRounded-Medium";
    font-size: 0.7rem;
    text-align: center;
    padding: 8px 1px 6px 1px !important;
    margin: 0px;
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: #6f6f6f !important;
    border-radius: 0px 0px 0px 0px !important;
    border-right: #ffffff 1px solid !important;
    border-top: #ffffff 1px solid !important;
  }
  .botontab1:hover {
    background-color: rgba(34, 130, 255, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
    padding: 8px 1px 6px 1px !important;
   }

  #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: #ffffff 0px solid !important;
    border-radius: 0px 0px 0px 0px !important;
    border-right: #ffffff 1px solid !important;
    border-top: #ffffff 1px solid !important;
    padding: 8px 1px 6px 1px !important;
  }

  .textocontenido {
    text-align: center;
  }


}

