<!DOCTYPE html>
<html lang="en">

<head>
    <title>REGISTRO DE RECLAMOS - Plataforma Virtual</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="ico_perueduca.ico">
    <link rel="icon" href="ico_perueduca.ico" type="image/x-icon">

    <!-- Stylesheets -->





    <style type="text/css">
	.borde1{
			border: 1px solid #ff0000;
		}
	</style>

</head>
<body>


<div class="site-section">
    <div class="container">
        <div class="row">
<!--            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  borde"><a href="index.html"><img src="assets/img/logo_tarea_upc.jpeg" class="img-logo"></a></div>-->
        </div>
    </div>
</div>
<div class="barramenu">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  borde"></div>
    </div>
</div>



<div class="container">

    <div class="row alineadocentro">
        <div class="col-md-8 order-md-1 mb-2 mt-4 text-center titulo backtitulo">Registro de reclamo</div>
    </div>
    <hr class="mb-4">

    <div class="row alineadocentro ">

        <div class="col-md-8 order-md-1 backregistro mb-4">

            <form #userForm="ngForm" (ngSubmit)="create()" class="needs-validation" novalidate>
                <h4 class="mb-3 mt-3 subtitulo">1.- REGISTRO DE DATOS PERSONALES</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Tipo Cliente</div>
                        <select class="custom-select d-block w-100 textocampos" id="tipo_cliente" required name="tipo_cliente" [(ngModel)]="selectedValue" [(ngModel)]="reclamo.tipo_cliente"  required  #tipo_cliente="ngModel">
                            <option value="">Elige una opción</option>
                            <option value="1">Persona Natural</option>
                            <option value="2">Persona Jurídica</option>

                        </select>
                        <div class="alert-danger" style="padding-left:5px" *ngIf="tipo_cliente.invalid && (tipo_cliente.dirty || tipo_cliente.touched)" >
                            <div class="" *ngIf="tipo_cliente.errors.required">
                                El tipo cliente es requerido
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Tipo de documento</div>
                        <select class="custom-select d-block w-100 textocampos" id="tipo_documento"  name="tipo_documento" [(ngModel)]="selectedValueTipoDoc" [(ngModel)]="reclamo.tipo_documento" required  #tipo_documento="ngModel">
                            <option value="">Seleccione</option>
                            <option value="1">DNI</option>
                            <option value="2">CARNE DE EXTRANJERÍA</option>
                            <option value="3">PASAPORTE</option>
                        </select>
                        <div class="alert-danger alert_" style="padding-left:5px" *ngIf="tipo_documento.invalid && (tipo_documento.dirty || tipo_documento.touched)" >
                            <div class="" *ngIf="tipo_documento.errors.required">
                                El tipo documento es requerido
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Número de documento</div>
                        <input type="text" (keyup)="getPersona()" class="form-control textocampos" id="numero_documento"   name="numero_documento" [(ngModel)]="reclamo.numero_documento" required minlength="8" maxlength="8" #numero_documento="ngModel" (input)="inputValidatorLetrasNumeros($event)">
                        <div class="alert-danger" style="padding-left:5px"  role="alert" *ngIf="numero_documento.invalid && (numero_documento.dirty || numero_documento.touched)" >
                            <div class="" *ngIf="numero_documento.errors.required">
                                El numero de documento es requerido
                            </div>
                            <div class="" *ngIf="numero_documento.errors.minlength">
                                Debe tener como mínimo 8 dígitos
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3" *ngIf="reclamo.tipo_documento==1" >
                        <div class="titulocampo">Ubigeo</div>
                        <div class="col-md-12 input-group px-0">
                            <input type="text" (keyup)="getPersona()"  class="form-control textocampos"  id="ubigeo_"   name="ubigeo_" [(ngModel)]="reclamo.ubigeo_" required minlength="6" maxlength="6" #ubigeo_="ngModel" (input)="inputValidatorNumeros($event)">
                            <div class="input-group-prepend">
                                <span class="input-group-text backcirculo">?</span>
                            </div>
                        </div>
                        <div class="alert-danger" style="padding-left:5px" *ngIf="ubigeo_.invalid && (ubigeo_.dirty || ubigeo_.touched)" >
                            <div class="" *ngIf="ubigeo_.errors.required">
                                El ubigeo es requerido
                            </div>
                            <div class="" *ngIf="ubigeo_.errors.minlength">
                                Debe tener 6 dígitos
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row" >
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Apellido Paterno</div>
                        <input type="text" [disabled]="reclamo.tipo_documento==1" value="{{personaobtenida.ape_pat}}" class="form-control textocampos" id="ape_pat" name="ape_pat" [(ngModel)]="reclamo.ape_pat" required maxlength="50" #ape_pat="ngModel" (input)="inputValidatorLetras($event)">
                        <div class="alert-danger" style="padding-left:5px" *ngIf="ape_pat.invalid && (ape_pat.dirty || ape_pat.touched)" >
                            <div class="" *ngIf="ape_pat.errors.required">
                                El apellido paterno es requerido
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Apellido Materno</div>
                        <input type="text" [disabled]="reclamo.tipo_documento==1" value="{{personaobtenida.ape_mat}}" class="form-control textocampos" id="ape_mat"  name="ape_mat" [(ngModel)]="reclamo.ape_mat" required maxlength="50" #ape_mat="ngModel" (input)="inputValidatorLetras($event)">
                        <div class="alert-danger" style="padding-left:5px" *ngIf="ape_mat.invalid && (ape_mat.dirty || ape_mat.touched)" >
                            <div class="" *ngIf="ape_mat.errors.required">
                                El apellido materno es requerido
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Nombres</div>
                        <input type="text" [disabled]="reclamo.tipo_documento==1"  value="{{personaobtenida.nombres}}" class="form-control textocampos" id="nombres" name="nombres" [(ngModel)]="reclamo.nombres" required maxlength="80" #nombres="ngModel" (input)="inputValidatorLetras($event)">
                        <div class="alert-danger" style="padding-left:5px" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" >
                            <div class="" *ngIf="nombres.errors.required">
                                El nombre es requerido
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Correo Electrónico</div>
                        <input type="text" class="form-control textocampos" id="correo"  name="correo" [(ngModel)]="reclamo.correo" required email maxlength="250" #email="ngModel">
                        <div class="alert-danger" style="padding-left:5px" *ngIf="email.invalid && (email.dirty || email.touched)" >
                            <div class="" *ngIf="email.errors.required">
                                El email es requerido
                            </div>
                            <div class="" *ngIf="email.errors.email">
                                Formato de email incorrecto
                            </div>

                        </div>
                    </div>
                </div>
                <h4 class="mb-3 mt-3 subtitulo">2.- UBICACIÓN</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Departamento<span style="color:red">(*)</span></div>
                        <select (change)="getProvincias()" class="custom-select d-block w-100 textocampos" [(ngModel)]="selectedValueRegiones" id="idRegion" [(ngModel)]="idRegion" [(ngModel)]="reclamo.departamento" name="idRegion" required #departamento1="ngModel">
                            <option value="">Seleccione</option>
                            <option value="{{region.id_region}}" *ngFor="let region of regiones">{{region.region}}</option>
                        </select>
                        <div class="alert-danger" style="padding-left:5px" *ngIf="departamento1.invalid && (departamento1.dirty || departamento1.touched)" >
                            <div class="" *ngIf="departamento1.errors.required">
                                El departamento es requerido
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Provincia<span style="color:red">(*)</span></div>
                        <select (change)="getDistritos()" class="custom-select d-block w-100 textocampos" [(ngModel)]="selectedValueProvincias" id="idProvincia" [(ngModel)]="idProvincia" name="idProvincia" [(ngModel)]="reclamo.provincia" required #provincia1="ngModel">
                            <option value="">Seleccione...</option>
                            <option value="{{provincia.id_provincia}}" *ngFor="let provincia of provincias" >{{provincia.provincia}}</option>
                        </select>
                        <div class="alert-danger" style="padding-left:5px" *ngIf="provincia1.invalid && (provincia1.dirty || provincia1.touched)" >
                            <div class="" *ngIf="provincia1.errors.required">
                                El provincia es requerido
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Distrito<span style="color:red">(*)</span></div>
                        <select class="custom-select d-block w-100 textocampos" [(ngModel)]="selectedValueDistritos" [(ngModel)]="reclamo.ubigeo" id="ubigeo"  required name="ubigeo" #ubigeo="ngModel">
                            <option value="">Seleccione...</option>
                            <option value="{{distrito.cod_ubigeo_ie}}" *ngFor="let distrito of distritos" >{{distrito.distrito}}</option>
                        </select>
                        <div class="alert-danger" style="padding-left:5px" *ngIf="ubigeo.invalid && (ubigeo.dirty || ubigeo.touched)" >
                            <div class="" *ngIf="ubigeo.errors.required">
                                El distrito es requerido
                            </div>
                        </div>
                    </div>

                </div>
                <h4 class="mb-3 mt-3 subtitulo">3.- Detalles del reclamo</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Seleccione motivo de reclamo<span style="color:red">(*)</span></div>
                        <select  class="custom-select d-block w-100 textocampos" id="motivo_reclamo"  [(ngModel)]="reclamo.motivo_reclamo" name="motivo_reclamo" required >
                            <option value="">Seleccione</option>
                            <option value="1">FALLA TÉCNICA DE PRODUCTOS</option>
                            <option value="2">ENTREGA FUERA DE FECHA</option>

                        </select>


                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="titulocampo">Selccione prioridad<span style="color:red">(*)</span></div>
                        <select  class="custom-select d-block w-100 textocampos" id="prioridad"  name="prioridad" [(ngModel)]="reclamo.prioridad" >
                            <option value="">Seleccione...</option>
                            <option value="1">ALTA</option>
                            <option value="2">MEDIA</option>
                            <option value="3">BAJA</option>

                        </select>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="titulocampo">Ingrese su reclamo</div>
                        <textarea class="form-control textocampos" id="reclamo" name="reclamo" [(ngModel)]="reclamo.reclamo" required maxlength="50"  ></textarea>

                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="titulocampo">Observaciones o comentarios.</div>
                        <textarea  class="form-control textocampos" id="observaciones_comentarios"  name="observaciones_comentarios" [(ngModel)]="reclamo.observaciones_comentarios" required maxlength="50"  ></textarea>

                    </div>
                </div>

                <div class="row">
                   <!-- <div class="col-md-6 mb-3">
                        <div class="titulocampo">&nbsp;</div>
                        <img src="/assets/img/recapcha.jpg" class="img-fluid">
                    </div>-->
                    <!--div class="col-md-6 mb-3">
                        <div class="col-md-12 titulocampo">Código de seguridad</div>
                        <div class="col-md-12 input-group px-0">
                        <input type="text" class="form-control textocampos" id="Ubigeo" placeholder="" value="" required>
                        <div class="input-group-prepend">
                            <span class="input-group-text backcirculo">?</span>
                        </div>
                        </div>
                    </div-->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" align="">
                        <re-captcha (resolved)="resolved($event)"
                                    siteKey="{{siteKey()}}">
                        </re-captcha>
                        <div>
                            <div class="alert alert-danger" role="alert" *ngIf="isRegistroFailed">
                                {{ errorMessage }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="custom-control custom-checkbox mt-2">
                    <input type="checkbox" class="custom-control-input"  [(ngModel)]="check_terminos" name="check_terminos" id="check_terminos">
                    <label class="custom-control-label textocontenido" for="check_terminos">Acepto los términos de uso: <a>Términos y condiciones</a></label>
                </div>

                <hr class="mb-4">
                <button class="btn btn-lg btn-block mb-4 mt-2 boton1"  role="button" >Registrar</button>
            </form>
        </div>
    </div>




</div>




<div class="pie mostrar_pie">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left align-self-center">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left align-self-center">



                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right align-self-center">
                        <p class="textopie">Siguenos:</p>
                        <p class="py-2"><img src="assets/img/ico_face.png"><img src="assets/img/ico_twee.png"><img src="assets/img/ico_instagram.png"></p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  text-right ">

            </div>
        </div>
    </div>
</div>


<div class="pie ocultar_pie">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left align-self-center">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left align-self-center">
                        <p class="textopie">PerúEduca</p>
                        <p class="textopie">Soporte PerúEduca</p>
                        <p class="textopie">Aló PerúEduca 0800-40210</p>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right align-self-center">
                        <p class="textopie">Sigue a PerúEduca:</p>
                        <p class="py-2"><img src="assets/img/ico_face.png"><img src="assets/img/ico_twee.png"><img src="assets/img/ico_instagram.png"></p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 borde text-center ">
                <p><img src="assets/img/logo_educacion.png" class="logominedu"></p>
            </div>
        </div>
    </div>
</div>









</body>
</html>

