@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('assets/fonts/GothamRounded-Medium.eot');
  src: url('assets/fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamRounded-Medium.woff') format('woff'),
  url('assets/fonts/GothamRounded-Medium.ttf') format('truetype'),
  url('assets/fonts/GothamRounded-Medium.svg#futura_bk_btbook') format('svg');
}

@font-face {
  font-family: 'GothamRounded-Bold';
  src: url('assets/fonts/GothamRounded-Bold.eot');
  src: url('assets/fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamRounded-Bold.woff') format('woff'),
  url('assets/fonts/GothamRounded-Bold.ttf') format('truetype'),
  url('assets/fonts/GothamRounded-Bold.svg#futura_bk_btbook') format('svg');
}

@font-face {
  font-family: 'GothamRounded-Book';
  src: url('assets/fonts/GothamRounded-Book.eot');
  src: url('assets/fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamRounded-Book.woff') format('woff'),
  url('assets/fonts/GothamRounded-Book.ttf') format('truetype'),
  url('assets/fonts/GothamRounded-Book.svg#futura_bk_btbook') format('svg');
}

.borde{
  border: 0px solid #ff0000;
}



html {
  overflow-x: hidden;
}

body {
  background-color: #ededed;

}
p{
  padding: 0px;
  margin: 0px;
}
a{

}

.site-section {
  background-color: #ffffff;
  border-bottom: 1px solid #58595B;
  padding-top: 40px;
  padding-bottom: 40px;
}
.site-section2 {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 500px;
  border: 0px solid #ff2e45;
}



.site-section22 {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 0px solid #ff2e45;
}
.pie {
  padding: 0px 0px;
  background-color: #3b3b3a;
  padding-top: 10px;
  padding-bottom: 10px;

}

.cajaregistro{
  background-color: #fafafa;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  height: 70%;
}


.titulo {
  font-family: "GothamRounded-bold";
  font-size: 1.8rem;
  color: #ff2e45 !important;
  padding-bottom: 0;
  LINE-HEIGHT:28px;
  padding-bottom: 15px;
}
.titulo a {
  color: #ff2e45;
}



.titulo a:hover {
  color: #ff2e45;
  text-decoration: underline;
}

.textotitulo {
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  color: #494f66 !important;
  LINE-HEIGHT:20px;
}
.textotitulo a {
  color: #494f66;
}
.textotitulo a:hover {
  color: #494f66;
  text-decoration: underline;
}

.textocontenido {
  font-family: "GothamRounded-Medium";
  font-size: 1.1rem;
  color: #494f66 !important;
  LINE-HEIGHT:22px;
  padding-bottom: 20px;
}
.textocontenido a {
  color: #494f66;
}
.textocontenido a:hover {
  color: #494f66;
  text-decoration: underline;
}

.textopregunta {
  font-family: "GothamRounded-bold";
  font-size: 1.6rem;
  color: #494f66 !important;
  LINE-HEIGHT:20px;
}
.textopregunta a {
  color: #494f66;
}
.textopregunta a:hover {
  color: #494f66;
  text-decoration: underline;
}

.textoenlace {
  font-family: "GothamRounded-book";
  font-size: 0.9rem;
  color: #494f66 !important;
  LINE-HEIGHT:20px;
}
.textoenlace a {
  color: #337ab7;
  text-decoration: underline;
}
.textoenlace a:hover {
  color: #337ab7;
  text-decoration: none;
}


.titDETALLE {
  font-family: "GothamRounded-bold";
  font-size: 1.7rem;
  color: #1D1D1B !important;
  LINE-HEIGHT:20px;
}
.titDETALLE a {
  color: #1D1D1B;
}
.titDETALLE a:hover {
  color: #1D1D1B;
  text-decoration: underline;
}

.subtitDETALLE {
  font-family: "GothamRounded-bold";
  font-size: 1.4rem;
  color: #494f66 !important;
  LINE-HEIGHT:20px;
}
.subtitDETALLE a {
  color: #494f66;
}
.subtitDETALLE a:hover {
  color: #494f66;
  text-decoration: underline;
}

.txtDETALLE {
  font-family: "GothamRounded-book";
  font-size: 1.1rem;
  color: #494f66 !important;
  LINE-HEIGHT:20px;
}
.txtDETALLE a {
  color: #494f66;
}
.txtDETALLE a:hover {
  color: #494f66;
  text-decoration: underline;
}

.subtit_rojo {
  font-family: "GothamRounded-bold";
  font-size: 1.2rem;
  color: #ff2e45 !important;
  LINE-HEIGHT:20px;
}
.subtit_rojo a {
  color: #ff2e45;
}
.subtit_rojo a:hover {
  color: #ff2e45;
  text-decoration: underline;
}


.textopie {
  font-family: "GothamRounded-book";
  font-size: 0.8rem;
  color: #ffffff !important;
  LINE-HEIGHT:20px;
}
.textopie a {
  color: #ffffff;
}
.textopie a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.cajaboton1 {
  display: block;
  margin:15px auto;
}

.boton1 a {
  width: 60%;
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  text-align: center;
  padding: 10px 30px;
  border:  rgba(255, 46, 69, 1);
  color: #ffffff !important;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: #337ab7 !important;
  cursor: pointer;
}
.boton1 a:hover {
  background-color: rgba(255, 46, 69, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
}

.boton2 a {
  width: 90%;
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  text-align: center;
  padding: 8px 3px;
  border:  1px solid rgba(36, 178, 164, 1) !important;
  color: rgba(36, 178, 164, 1) !important;
  border-radius: 5px;
  display: block;
  text-decoration: none !important;
  background-color: #ffffff !important;
  margin:15px auto;
}
.boton2 a:hover {
  background-color: rgba(255, 46, 69, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border:  1px solid rgba(255, 46, 69, 1) !important;
}

.boton3 a {
  width: 90%;
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  text-align: center;
  padding: 8px 3px;
  border:  1px solid rgba(50, 121, 190, 1) !important;
  color: rgba(50, 121, 190, 1) !important;
  border-radius: 5px;
  display: block;
  text-decoration: none !important;
  background-color: #ffffff !important;
  margin:15px auto;
}
.boton3 a:hover {
  background-color: rgba(255, 46, 69, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border:  1px solid rgba(255, 46, 69, 1) !important;
}

.boton2ACT a {
  width: 90%;
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  text-align: center;
  padding: 8px 3px;
  border:  1px solid rgba(255, 46, 69, 1) !important;
  color: #ffffff;
  border-radius: 5px;
  display: block;
  text-decoration: none !important;
  background-color: rgba(255, 46, 69, 1) !important;
  margin:15px auto;
}
.boton2ACT a:hover {
  background-color: rgba(255, 46, 69, 1) !important;
  color: rgba(255, 255, 255, 1);
}

.barra {
  border-bottom: 1px solid #ededed;
  margin: 0px 0px 30px 0px !important;
}

.barraperfil {
  padding: 1px 1px 1px 1px;
  border-radius: 10px;
  margin: 3px 0px 3px 0px;
  background: #fff;
  border: 1px solid #ededed;
}

.txtlogincontenido {
  font-family: "GothamRounded-book";
  color: #5e647a;
  font-size: 1rem;
  padding: 15px 2px 15px 2px;
  LINE-HEIGHT:20px;

}
.txtlogincontenido a {
  color: #ff2e45 !important;
  text-decoration: underline;
}
.txtlogincontenido a:hover {
  color: #ff2e45 !important;
  text-decoration: none;
}

.titulologinVentana {
  font-family: "GothamRounded-book";
  color: #ff2e45;
  font-size: 1.3rem;
  padding: 10px 2px 0px 2px;
  LINE-HEIGHT:20px;
}
.titulologinVentana a {
  color: #ff2e45 !important;
  text-decoration: underline;
}
.titulologinVentana a:hover {
  color: #ff2e45 !important;
  text-decoration: none;
}

.Xcerrar {
  font-family: "GothamRounded-bold";
  color: #ffffff;
  position:absolute;
  height:20px;
  width:20px;
  z-index: 1;
  right: 10px;
  top: 10px;
  LINE-HEIGHT:12px;
  border: 0px solid;
  border-radius: 15px;
  background-color: #cccccc;
}
.Xcerrar a {
  color: #ffffff !important;
}
.Xcerrar a:hover {
  color: #ffffff !important;
}

.detalle-constancia {
  position: absolute;
  left: 10px;
  top: 15px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.tituloCAR {
  font-size: 18px;
  font-family: 'GothamRounded-medium';
  color: #1D1D1B;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  min-height: 65px;
  LINE-HEIGHT:19px;
}
.tituloCAR a {
  color: #1D1D1B;
}
.tituloCAR a:hover {
  color: #1D1D1B;
  text-decoration: underline;
}

.txt-detalle-curso {
  font-size: 16px;
  font-family: 'GothamRounded-medium';
  color: #575756;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
  margin-right: 7px;
}

.btn-curso {
  margin: 7px auto;
}
.btn-red {
  color: #ffffff !important;
  font-family: 'GothamRounded-medium';
  font-weight: 200;
  background-color: #FF2E45 !important;
  border-color: #FF2E45;
}

.btn-red a {
  color: #ffffff !important;
}
.btn-red a:hover {
  background-color: #ff2e45 !important;
  color: #ffffff !important;
}

.btn-blue {
  color: #ffffff !important;
  font-family: 'GothamRounded-medium';
  font-weight: 200;
  background-color: #337ab7 !important;
  border-color: #337ab7;
}
.btn-blue a {
  color: #ffffff !important;
}
.btn-blue a:hover {
  background-color: #ff2e45 !important;
  color: #ffffff !important;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.box-ayuda {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  background-color: #F9A852;
}

.box-texto {
  color: #fff;
  font-family: 'GothamRounded-medium';
  font-size: 19px;
  LINE-HEIGHT:22px;
}
.box-texto a {
  color: #ffffff !important;
}
.box-texto a:hover {
  color: #ffffff;
}

.txtresaltado {
  font-family: "GothamRounded-bold";
  font-size: 1.2rem;
  color: #337ab7 !important;
  LINE-HEIGHT:18px;
  padding-bottom: 20px;
  text-align: center;
}

.boton4 a {
  width: 60%;
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  text-align: center;
  padding: 10px 30px;
  border:  rgb(126, 126, 126);
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: #7e7e7e !important;
}

.boton4 a:hover {
  background-color: rgba(170, 170, 170, 1) !important;
  color: rgba(255, 255, 255, 1);
}

@media (min-width: 992px) {
  .ocultar_logo {
    display: none;
  }
  .ocultar_pie {
    display: none;
  }
  .formula {
    width: 50%;
    margin:0px auto;
  }

  .box-cursos {
    width: 100%;
    display: block;
    background-color: #ffffff;
    border: 1px solid #C6C6C6;
    margin-bottom: 15px;
    min-height: 470px;
  }


}

@media (max-width: 992px) {
  .mostrar_logo {
    display: none;
  }
  .mostrar_pie {
    display: none;
  }
  .logo {
    width: 220px;
    padding-bottom: 20px;
  }
  .titulo {
    font-family: "GothamRounded-bold";
    font-size: 1.4rem;
    color: #ff2e45 !important;
    padding-bottom: 0;
    LINE-HEIGHT:22px;
    padding-bottom: 15px;
    text-align: center;
  }

  .textotitulo {
    font-family: "GothamRounded-Medium";
    font-size: 0.9rem;
    color: #494f66 !important;
    LINE-HEIGHT:18px;
    text-align: center;
  }

  .textocontenido {
    font-family: "GothamRounded-Medium";
    font-size: 1rem;
    color: #494f66 !important;
    LINE-HEIGHT:18px;
    padding-bottom: 20px;
    text-align: center;
  }

  .textopregunta {
    font-family: "GothamRounded-bold";
    font-size: 1.4rem;
    color: #494f66 !important;
    LINE-HEIGHT:20px;
  }
  .textopie {
    font-family: "GothamRounded-book";
    font-size: 0.7rem;
    color: #ffffff !important;
    LINE-HEIGHT:15px;
  }
  .logominedu {
    width: 160px;
  }

  .box-ayuda {
    font-size: 16px;
    LINE-HEIGHT:20px;
  }
  .logoayuda {
    width: 120px;
    padding-bottom: 15px;
  }

  .botonimg {
    width: 145px;
    padding-bottom: 15px;
  }


  .boton1 a {
    width: 60%;
    font-family: "GothamRounded-Medium";
    font-size: 1rem;
    text-align: center;
    padding: 8px 3px;
    border:  rgba(255, 46, 69, 1);
    color: #ffffff !important;
    border-radius: 5px;
    text-decoration: none !important;
    background-color: #337ab7 !important;
    display: block;
    cursor: pointer;
    margin:0px auto;
  }

  .txtresaltado {
    font-size: 1.1rem;

  }

  .box-cursos {
    width: 100%;
    display: block;
    background-color: #ffffff;
    border: 1px solid #C6C6C6;
    margin-bottom: 15px;
    min-height: 470px;
  }

  .box-texto {
    font-size: 17px;
    LINE-HEIGHT:20px;
  }

  .boton4 a {
    width: 60%;
    font-family: "GothamRounded-Medium";
    font-size: 1rem;
    text-align: center;
    padding: 10px 30px;
    border:  rgb(126, 126, 126);
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none !important;
    background-color: #7e7e7e !important;
    display: block;
    margin: 0px auto;
  }

}
