<div>
    <div class="site-section22">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 borde text-center align-self-center">
                    <p class="textopregunta">Adquiere habilidades y conocimientos con PerúEduca</p>
                    <p class="textocontenido py-3">Revisa el estado de nuestros cursos virtuales, en desarrollo o
                        inscripción, la información del número de unidades y duración del curso , al finalizar puedes
                        obtener una constancia digital.</p>

                </div>
            </div>

            <div class="row justify-content-center py-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 borde">
                    <div class="boton2ACT text-center"><a href="pag2.html">Cursos en inscripción</a></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 borde text-left ">
                    <div class="boton2 text-center"><a href="pag2.html">Cursos en desarrollo</a></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 borde text-left ">
                    <div class="boton3 text-center"><a href="pag2.html">Cursos para estudiantes EBA</a></div>
                </div>
            </div>

            <div class="row justify-content-center py-2">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 borde">
                    <div class="box-cursos ">
                        <div class="detalle-constancia"><img src="assets/incluye-constancia.png" alt="" class=""></div>
                        <a href="#" target="_blank"><img src="assets/img-alfabetizacion-digital.jpg" alt=""
                                                         class="img-responsive"></a>
                        <p class="tituloCAR  px-3 pb-2 text-center">Alfabetización Digital - Grupo 2</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-unidades.png" alt="" class="icon">Unidades:
                            04</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-semanas.png" alt="" class="icon">Semanas:
                            04</p>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-right">
                                <a type="button" class="btn btn-red btn-curso" [routerLink]="['/login']"
                                   [queryParams]="{course: '01001' ,  registration: '1',
                                   name : 'Alfabetización Digital - Grupo 2'}"
                                   queryParamsHandling="merge">
                                    Inscríbete aquí
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-center"><a type="button"
                                                                                                        class="btn btn-blue btn-curso"
                                                                                                        href="verdetalle.html">Ver
                                detalle</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 borde">
                    <div class="box-cursos ">
                        <div class="detalle-constancia"><img src="assets/incluye-constancia.png" alt="" class=""></div>
                        <a href="#" target="_blank"><img src="assets/img-rol-docente.jpg" alt="" class="img-responsive"></a>
                        <p class="tituloCAR  px-3 pb-2 text-center">Rol del docente en la enseñanza aprendizaje a
                            distancia</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-unidades.png" alt="" class="icon">Unidades:
                            02</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-semanas.png" alt="" class="icon">Semanas:
                            01</p>
                        <div class="row">
                            <a type="button" class="btn btn-red btn-curso" [routerLink]="['/login']"
                               [queryParams]="{course: '01002' ,  registration: '0',
                               name: 'Rol del docente en la enseñanza aprendizaje a distancia'}"
                               queryParamsHandling="merge">
                                Preinscríbete aquí
                            </a>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-center"><a type="button"
                                                                                                        class="btn btn-blue btn-curso"
                                                                                                        href="verdetalle.html">Ver
                                detalle</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 borde">
                    <div class="box-cursos ">
                        <div class="detalle-constancia"><img src="assets/incluye-constancia.png" alt="" class=""></div>
                        <a href="#" target="_blank"><img src="assets/img-desarrollo-socio.jpg" alt=""
                                                         class="img-responsive"></a>
                        <p class="tituloCAR  px-3 pb-2 text-center">Actuando frente al CORONAVIRUS COVID-19</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-unidades.png" alt="" class="icon">Unidades:
                            03</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-semanas.png" alt="" class="icon">Semanas:
                            01</p>
                        <div class="row">
                            <a type="button" class="btn btn-red btn-curso" [routerLink]="['/login']"
                               [queryParams]="{course: '01003' ,  registration: '0' ,
                               name: 'Actuando frente al CORONAVIRUS COVID-19'}"
                               queryParamsHandling="merge">
                                Preinscríbete aquí
                            </a>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-center"><a type="button"
                                                                                                        class="btn btn-blue btn-curso"
                                                                                                        href="verdetalle.html">Ver
                                detalle</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 borde">
                    <div class="box-cursos ">
                        <div class="detalle-constancia"><img src="assets/incluye-constancia.png" alt="" class=""></div>
                        <a href="#" target="_blank"><img src="assets/img-rol-docente.jpg" alt=""
                                                         class="img-responsive"></a>
                        <p class="tituloCAR  px-3 pb-2 text-center">Fortalecimiento de Capacidades para Auxiliares de
                            Educación Inicial</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-unidades.png" alt="" class="icon">Unidades:
                            05</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-semanas.png" alt="" class="icon">Semanas:
                            06</p>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-right">
                                <a type="button" class="btn btn-red btn-curso" [routerLink]="['/login']"
                                   [queryParams]="{course: '01004', registration: '1',
                                   name : 'Fortalecimiento de Capacidades para Auxiliares de Educación Inicial'}"
                                   queryParamsHandling="merge">
                                    Inscríbete aquí
                                </a>

                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-center"><a type="button"
                                                                                                        class="btn btn-blue btn-curso"
                                                                                                        href="verdetalle.html">Ver
                                detalle</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 borde">
                    <div class="box-cursos ">
                        <div class="detalle-constancia"><img src="assets/incluye-constancia.png" alt="" class=""></div>
                        <a href="#" target="_blank"><img src="assets/img-desarrollo-socio.jpg" alt=""
                                                         class="img-responsive"></a>
                        <p class="tituloCAR  px-3 pb-2 text-center">Desarrollo socioemocional para el cuidado de
                            nosotros y el otro</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-unidades.png" alt="" class="icon">Unidades:
                            05</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-semanas.png" alt="" class="icon">Semanas:
                            06</p>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-right">
                                <a type="button" class="btn btn-red btn-curso" [routerLink]="['/login']"
                                   [queryParams]="{course: '01005', registration: '1',
                                   name : 'Desarrollo socioemocional para el cuidado de nosotros Y el otro'}"
                                   queryParamsHandling="merge">
                                    Inscríbete aquí
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-center"><a type="button"
                                                                                                        class="btn btn-blue btn-curso"
                                                                                                        href="verdetalle.html">Ver
                                detalle</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 borde">
                    <div class="box-cursos ">
                        <div class="detalle-constancia"><img src="assets/incluye-constancia.png" alt="" class=""></div>
                        <a href="#" target="_blank"><img src="assets/img-desarrollo-socio.jpg" alt=""
                                                         class="img-responsive"></a>
                        <p class="tituloCAR  px-3 pb-2 text-center">Tutorial para el diseño y gestión de proyectos
                            pedagógicos</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-unidades.png" alt="" class="icon">Unidades:
                            05</p>
                        <p class="txt-detalle-curso px-3"><img src="assets/icon-semanas.png" alt="" class="icon">Semanas:
                            06</p>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-right">

                                <a type="button" class="btn btn-red btn-curso" [routerLink]="['/login']"
                                   [queryParams]="{course: '01006', registration: '0',
                                   name: 'Tutorial para el diseño Y gestión de proyectos pedagógicos'}"
                                   queryParamsHandling="merge">
                                    Preinscríbete aquí
                                </a>

                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-center"><a type="button"
                                                                                                        class="btn btn-blue btn-curso"
                                                                                                        href="verdetalle.html">Ver
                                detalle</a></div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="container">
            <div class="row box-ayuda m-0">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 borde text-center align-self-center"><img
                        src="assets/icon-ayuda.png" class="logoayuda"></div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 borde text-center align-self-center"><p
                        class="box-texto">
                    Si necesitas ayuda, llena el formulario de atención<br>ingresando al siguiente enlace:<br><a
                        href="http://www.perueduca.pe/ayuda/" target="_blank">http://www.perueduca.pe/ayuda/</a></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row py-3">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-left"><a
                        href="http://www.perueduca.pe/inicio"><img src="assets/regresar-pe.png" class="botonimg"></a>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 borde text-right"><a
                        href="http://www.perueduca.pe/consulta-de-certificados" target="_blank"><img
                        src="assets/descarga-constancia.png" class="botonimg"></a></div>
            </div>
        </div>

    </div>


    <div class="pie">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 borde text-left align-self-center">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left align-self-center">
                            <p class="textopie">PerúEduca</p>
                            <p class="textopie">Soporte PerúEduca</p>
                            <p class="textopie">Aló PerúEduca 0800-40210</p>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right align-self-center">
                            <p class="textopie">Sigue a PerúEduca:</p>
                            <p class="py-2"><img src="assets/ico_face.png"><img src="assets/ico_twee.png"><img
                                    src="assets/ico_instagram.png"></p>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 borde text-center ">
                    <p><img src="assets/logo_educacion.png" class="logominedu"></p>
                </div>
            </div>
        </div>
    </div>

</div>
