<!DOCTYPE html>
<html lang="en">

<head>
    <title>CONSULTA DE RECLAMOS - Plataforma Virtual</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="ico_perueduca.ico">
    <link rel="icon" href="ico_perueduca.ico" type="image/x-icon">

    <!-- Stylesheets -->



    <script src="js/jquery-latest.js"></script>


    <style type="text/css">
	.borde6{
			border: 1px solid #6315c9;
		}
	</style>

</head>
<body>


<div class="site-section">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>





<script type="text/javascript">
	$(function(){
	$("#myModal").modal();
	});
	</script>


<br>
<div class="container">


    <div class="row alineadocentro">

        <div class="col-md-10 order-md-1 backregistro mb-4">

            <div class="row alineadocentro">
                <div class="max-width order-md-1  text-center titulo align-self-center"><img src="assets/img/img_consulta.png" class="foto"></div>
                <div class="max-width order-md-1  text-center titulo align-self-center">Consulta de Reclamos reportados</div>
                <!--a href="index.html" class="botoncerrar"><img src="img/ico_cerrar.png">Cerrar sesión</a-->
            </div>



            <form class="needs-validation" novalidate>

                <!--TAB GEN1-->
                <div class="col-md-12 order-md-1 px-0 py-0 mt-4">

                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <div class="col-md-4 col-6 nav-item nav-link botontab1 active" id="nav-home-tab" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">
                            Buscar Reclamos Reportados
                        </div>
<!--                        <div class="col-md-4 col-6 nav-item nav-link botontab1" id="nav-home-tab" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">-->
<!--                            Mis Certificados o Constancias-->
<!--                        </div>-->
                        <!--div class="col-md-4 col-4 nav-item nav-link botontab1" id="nav-home-tab" data-toggle="tab" href="#tabDP2" role="tab" aria-selected="false">
                            Datos Personales
                        </div-->
                    </div>

                    <div class="tab-content py-0 px-0 px-sm-0" id="nav-tabContent">
                        <!--TAB1-->
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">

                            <!--div class="col-md-12 order-md-1 text-right px-0 py-0 ">
                                <a href="buscarconstancia.html" class="boton2">Buscar constancia de terceros</a>
                            </div-->

                            <div class="col-md-12 order-md-1 backregistro pt-4 mb-4 target">
                                <form class="needs-validation" novalidate>

                                    <div class="row">

                                        <div class="col-10 col-md-5 mb-3">
                                            <div class="col-md-12 titulocampo">Tipo de documento</div>
                                            <select class="custom-select d-block w-100 textocampos" id="perfil" required>
                                                <option value="">DNI</option>
                                            </select>
                                        </div>
                                        <div class="col-2 col-md-1 mb-3 mostrar_col">
                                        </div>
                                        <div class="col-10 col-md-6 mb-3">
                                            <div class="col-md-12 titulocampo">Número de Documento</div>
                                            <input type="text" class="form-control textocampos" id="numero_documento" name="numero_documento" [(ngModel)]="consultareclamo.numero_documento" placeholder="" value="" required>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-10 col-md-5 mb-3">
                                            <div class="col-md-12 titulocampo">Fecha de inicio</div>
                                            <input type="date" class="form-control textocampos" id="fecha_inicio" name="fecha_inicio" [(ngModel)]="consultareclamo.fecha_inicio" placeholder="" value="" required>
                                        </div>
                                        <div class="col-2 col-md-1 mb-3 mostrar_col">
                                        </div>
                                        <div class="col-10 col-md-6 mb-3">
                                            <div class="col-md-12 titulocampo">Fecha fin</div>
                                            <input type="date" class="form-control textocampos" id="fecha_fin" name="fecha_fin" [(ngModel)]="consultareclamo.fecha_fin" placeholder="" value="" required>
                                        </div>
                                    </div>





                                    <div class="btn btn-lg btn-lg btn-block boton1 mb-4 mt-2" (click)="getReclamos()" id="ocultar"  >Consultar</div>
                                </form>
                                <div class="tab-pane" id="tab2" role="tabpanel">

                                    <div class="col-md-12 order-md-1 backSUBTITULO">Reclamos reportados obtenidos</div>

                                    <div class="col-md-12">
<!--                                        <p class="textocontenido pt-3">Walter Ayma Flores</p>-->
                                    </div>

                                    <div class="col-md-12">
<!--                                        <p class="textocontenido pt-1">DNI: 70876715</p>-->
                                    </div>


                                    <table class="table-responsive table-responsive-md">
                                        <thead>
                                        <tr>
                                            <th style="padding:30px; width: 7%;">N°</th>
                                            <th style="padding:30px; width: 10%;">Código</th>
                                            <th style="padding:30px; width: 40%;">Cliente</th>
                                            <th style="padding:30px; width: 10%;">Tipo cliente</th>
                                            <th style="padding:30px; width: 10%;">Distrito</th>
                                            <th style="padding:30px; width: 10%;">Motivo del reclamo</th>
                                            <th style="padding:30px; width: 5%;">Estado</th>
                                            <th style="padding:30px; width: 5%;">Acción</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let reclamo of reclamos; let i = index" class="otrocolor">
                                            <td style="padding:30px" class="txtcenter cat1">{{i+1}}</td>
                                            <td style="padding:30px">RECL0{{reclamo.id}}</td>
                                            <td style="padding:30px" class="txtcenter cat1">{{reclamo.nombres + ' ' + reclamo.ape_pat + ' ' + reclamo.ape_mat }}</td>
                                            <td style="padding:30px" class="txtcenter" *ngIf="reclamo.tipo_cliente==1">Persona Natural</td><td class="txtcenter" *ngIf="reclamo.tipo_cliente==2">Persona JurÍdica</td>
                                            <td style="padding:30px" class="txtcenter">{{reclamo.ubigeo_desc}}</td>
                                            <td style="padding:30px" class="txtcenter cat1" *ngIf="reclamo.motivo_reclamo==1">FALLA TÉCNICA DE PRODUCTOS</td><td class="txtcenter cat1" *ngIf="reclamo.motivo_reclamo==2">ENTREGA FUERA DE FECHA</td>
                                            <td style="padding:30px" class="txtcenter cat1">PENDIENTE</td>
                                            <td style="padding:30px" class="txtcenter cat1"></td>
<!--                                            <td class="txtcenter"><a href="#" data-toggle="tooltip" data-placement="top" title="Descargar constancia - PDF"><img src="assets/img/ico_pdf.png" alt="pdf"></a>&nbsp;<a href="#" data-toggle="tooltip" data-placement="top" title="Enviar constancia a mi correo"><img src="assets/img/ico_correo.png" alt="correo"></a></td>-->

                                        </tr>


                                        </tbody>
                                    </table>

                                    <div class="col-md-12 order-md-1 px-2 mb-4 mt-4">
                                        <div class="pagination pagination-sm justify-content-center">
                                            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                                            <div class="page-item active"><a class="page-link" href="#">1</a></div>
                                            <div class="page-item"><a class="page-link" href="#">2</a></div>
                                            <div class="page-item"><a class="page-link" href="#">3</a></div>
                                            <div class="page-item"><a class="page-link" href="#">4</a></div>
                                            <div class="page-item"><a class="page-link" href="#">Siguiente</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="collapse mt-3" id="caja1a">
                                <div class="col-md-12 text-right">
                                    <div class="btn btn-lg btn-lg boton4 mb-2 mt-2" href="#" id="mostrar" data-toggle="collapse" data-target="#caja1a"><img src="assets/img/ico_lupa.png">&nbsp;Nueva Búsqueda</div>
                                    <!--input type="button" id="mostrar" name="boton1" value="NUEVA CONSULTA"-->
                                    <!--input type="button"  name="boton2" value="Click pora ocultar elementos"-->
                                </div>

                                <div class="col-md-12 order-md-1 text-left px-2">
                                    <p class="textocontenido pt-1">GABRIEL GARCÍA MÁRQUEZ</p>
                                </div>

                                <div class="col-md-12 order-md-1 text-left px-2 pb-2">
                                    <p class="textocontenido pt-1">DNI: 40678549</p>
                                </div>

                                <table class="table-responsive table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th style="width: 7%;">N°</th>
                                        <th style="width: 43%;">Curso</th>
                                        <th style="width: 10%;">Fecha&nbsp;Inicio</th>
                                        <th style="width: 10%;">Fecha&nbsp;Fin</th>
                                        <th style="width: 10%;">Nota</th>
                                        <th style="width: 10%;">Horas</th>
                                        <th style="width: 10%;">Código</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="otrocolor">
                                        <td class="txtcenter cat1">1</td>
                                        <td>Inteligencia Emocional</td>
                                        <td class="txtcenter">01/09/2014</td>
                                        <td class="txtcenter cat1">01/11/2014</td>
                                        <td class="txtcenter">18</td>
                                        <td class="txtcenter cat1">120</td>
                                        <td class="txtcenter cat1">093782</td>
                                        <td class="txtcenter btvermas"><a href="#" class="toggler" data-prod-cat="1">+ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td class="txtcenter cat2">2</td>
                                        <td>Historia del Perú y del Mundo</td>
                                        <td class="txtcenter">01/09/2014</td>
                                        <td class="txtcenter cat2">01/11/2014</td>
                                        <td class="txtcenter">18</td>
                                        <td class="txtcenter cat2">120</td>
                                        <td class="txtcenter cat2">093782</td>
                                        <td class="txtcenter btvermas"><a href="#" class="toggler" data-prod-cat="2">+ver más</a></td>
                                    </tr>
                                    <tr class="otrocolor">
                                        <td class="txtcenter cat3">3</td>
                                        <td>Formación Educativa</td>
                                        <td class="txtcenter">01/09/2014</td>
                                        <td class="txtcenter cat3">01/11/2014</td>
                                        <td class="txtcenter">18</td>
                                        <td class="txtcenter cat3">120</td>
                                        <td class="txtcenter cat3">093782</td>
                                        <td class="txtcenter btvermas"><a href="#" class="toggler" data-prod-cat="3">+ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td class="txtcenter cat4">4</td>
                                        <td>Herramientas Digitales</td>
                                        <td class="txtcenter">01/09/2014</td>
                                        <td class="txtcenter cat4">01/11/2014</td>
                                        <td class="txtcenter">18</td>
                                        <td class="txtcenter cat4">120</td>
                                        <td class="txtcenter cat4">093782</td>
                                        <td class="txtcenter btvermas"><a href="#" class="toggler" data-prod-cat="4">+ver más</a></td>
                                    </tr>
                                    <tr class="otrocolor">
                                        <td class="txtcenter cat5">5</td>
                                        <td>Inteligencia Emocional</td>
                                        <td class="txtcenter">01/09/2014</td>
                                        <td class="txtcenter cat5">01/11/2014</td>
                                        <td class="txtcenter">18</td>
                                        <td class="txtcenter cat5">120</td>
                                        <td class="txtcenter cat5">093782</td>
                                        <td class="txtcenter btvermas"><a href="#" class="toggler" data-prod-cat="5">+ver más</a></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="col-md-12 order-md-1 px-2 mb-4 mt-4">
                                    <div class="pagination pagination-sm justify-content-center">
                                        <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                                        <div class="page-item active"><a class="page-link" href="#">1</a></div>
                                        <div class="page-item"><a class="page-link" href="#">2</a></div>
                                        <div class="page-item"><a class="page-link" href="#">3</a></div>
                                        <div class="page-item"><a class="page-link" href="#">4</a></div>
                                        <div class="page-item"><a class="page-link" href="#">Siguiente</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FIN TAB1-->
                        <!--TAB2-->

                        <div class="tab-pane fade" id="tab2" role="tabpanel">

                            <div class="col-md-12 order-md-1 backSUBTITULO">Mis Certificados o Constancias</div>

                            <!--div class="col-md-12 order-md-1 text-right px-0 py-0 ">
                                <a href="buscarconstancia.html" class="boton2">Buscar constancia de terceros</a>
                            </div-->

                            <div class="col-md-12 order-md-1 text-left px-2">
                                <p class="textocontenido pt-3">ELMER PUMA FALCON</p>
                            </div>

                            <div class="col-md-12 order-md-1 text-left px-2 pb-2">
                                <p class="textocontenido pt-1">DNI: 40405577</p>
                            </div>


                            <table class="table-responsive table-responsive-md">
                                <thead>
                                <tr>
                                    <th style="width: 7%;">N°</th>
                                    <th style="width: 33%;">Curso</th>
                                    <th style="width: 10%;">Fecha&nbsp;Inicio</th>
                                    <th style="width: 10%;">Fecha&nbsp;Fin</th>
                                    <th style="width: 10%;">Nota</th>
                                    <th style="width: 10%;">Horas</th>
                                    <th style="width: 10%;">Código</th>
                                    <th style="width: 10%;">Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="otrocolor">
                                    <td class="txtcenter cat1">1</td>
                                    <td>Inteligencia Emocional</td>
                                    <td class="txtcenter cat1">01/09/2014</td>
                                    <td class="txtcenter">01/11/2014</td>
                                    <td class="txtcenter">18</td>
                                    <td class="txtcenter cat1">120</td>
                                    <td class="txtcenter cat1">093782</td>
                                    <td class="txtcenter"><a href="#" data-toggle="tooltip" data-placement="top" title="Descargar constancia - PDF"><img src="assets/img/ico_pdf.png" alt="pdf"></a>&nbsp;<a href="#" data-toggle="tooltip" data-placement="top" title="Enviar constancia a mi correo"><img src="img/ico_correo.png" alt="correo"></a></td>
                                    <td class="txtcenter btvermas"><a href="#" class="toggler" data-prod-cat="1">+ver más</a></td>
                                </tr>
                                <tr>
                                    <td class="txtcenter cat2">2</td>
                                    <td>Historia del Perú y del Mundo</td>
                                    <td class="txtcenter cat2">01/09/2014</td>
                                    <td class="txtcenter">01/11/2014</td>
                                    <td class="txtcenter">18</td>
                                    <td class="txtcenter cat2">120</td>
                                    <td class="txtcenter cat2">093782</td>
                                    <td class="txtcenter"><a href="#" data-toggle="tooltip" data-placement="top" title="Descargar constancia - PDF"><img src="assets/img/ico_pdf.png" alt="pdf"></a>&nbsp;<a href="#" data-toggle="tooltip" data-placement="top" title="Enviar constancia a mi correo"><img src="img/ico_correo.png" alt="correo"></a></td>
                                    <td class="txtcenter btvermas"><a href="#" class="toggler" data-prod-cat="2">+ver más</a></td>
                                </tr>
                                <tr class="otrocolor">
                                    <td class="txtcenter cat3">3</td>
                                    <td>Formación Educativa</td>
                                    <td class="txtcenter cat3">01/09/2014</td>
                                    <td class="txtcenter">01/11/2014</td>
                                    <td class="txtcenter">18</td>
                                    <td class="txtcenter cat3">120</td>
                                    <td class="txtcenter cat3">093782</td>
                                    <td class="txtcenter"><a href="#" data-toggle="tooltip" data-placement="top" title="Descargar constancia - PDF"><img src="assets/img/ico_pdf.png" alt="pdf"></a>&nbsp;<a href="#" data-toggle="tooltip" data-placement="top" title="Enviar constancia a mi correo"><img src="img/ico_correo.png" alt="correo"></a></td>
                                    <td class="txtcenter btvermas"><a href="#" class="toggler" data-prod-cat="3">+ver más</a></td>
                                </tr>
                                <tr>
                                    <td class="txtcenter cat4">4</td>
                                    <td>Herramientas Digitales</td>
                                    <td class="txtcenter cat4">01/09/2014</td>
                                    <td class="txtcenter">01/11/2014</td>
                                    <td class="txtcenter">18</td>
                                    <td class="txtcenter cat4">120</td>
                                    <td class="txtcenter cat4">093782</td>
                                    <td class="txtcenter"><a href="#" data-toggle="tooltip" data-placement="top" title="Descargar constancia - PDF"><img src="assets/img/ico_pdf.png" alt="pdf"></a>&nbsp;<a href="#" data-toggle="tooltip" data-placement="top" title="Enviar constancia a mi correo"><img src="img/ico_correo.png" alt="correo"></a></td>
                                    <td class="txtcenter btvermas"><a href="#" class="toggler" data-prod-cat="4">+ver más</a></td>
                                </tr>
                                <tr class="otrocolor">
                                    <td class="txtcenter cat5">5</td>
                                    <td>Inteligencia Emocional</td>
                                    <td class="txtcenter cat5">01/09/2014</td>
                                    <td class="txtcenter">01/11/2014</td>
                                    <td class="txtcenter">18</td>
                                    <td class="txtcenter cat5">120</td>
                                    <td class="txtcenter cat5">093782</td>
                                    <td class="txtcenter"><a href="#" data-toggle="tooltip" data-placement="top" title="Descargar constancia - PDF"><img src="assets/img/ico_pdf.png" alt="pdf"></a>&nbsp;<a href="#" data-toggle="tooltip" data-placement="top" title="Enviar constancia a mi correo"><img src="img/ico_correo.png" alt="correo"></a></td>
                                    <td class="txtcenter btvermas"><a href="#" class="toggler" data-prod-cat="5">+ver más</a></td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="col-md-12 order-md-1 px-2 mb-4 mt-4">
                                <div class="pagination pagination-sm justify-content-center">
                                    <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                                    <div class="page-item active"><a class="page-link" href="#">1</a></div>
                                    <div class="page-item"><a class="page-link" href="#">2</a></div>
                                    <div class="page-item"><a class="page-link" href="#">3</a></div>
                                    <div class="page-item"><a class="page-link" href="#">4</a></div>
                                    <div class="page-item"><a class="page-link" href="#">Siguiente</a></div>
                                </div>
                            </div>
                        </div>
                        <!--FIN TAB2-->
                        <!--TAB3-->
                        <!--div class="tab-pane fade" id="tabDP2" role="tabpanel">

                            <div class="col-md-12 order-md-1 backSUBTITULO">Datos Personales</div>



                        </div-->
                        <!--FIN TAB3-->
                    </div>
                </div>
                <!--FIN TAB GEN1-->

            </form>
        </div>
    </div>


</div>



<!-- MUESTRA POPUP -->
<div class="modal fade" id="myModal2">
    <div  class="modal-dialog modal-lg modal-notify modal-info" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <!-- Modal body -->
            <div class="modal-body">
                <!--div class="row px-0 py-0">
                    <button type="button" class="Xcerrar px-0 py-0"><a href="#"  data-dismiss="">&times;</a></button>
                </div-->
                <div class="row barrapopup p-3">

                    <div class="col-md-12  backSUBTITULO text-center">Código de Constancia</div>

                    <div class="col-md-12 text-center">
                        <img src="assets/img/constancia.jpg" class="img-fluid"/>

                    </div>



                    <div class="col-md-12 linea mt-2 mb-4"></div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 mb-3 text-center">
                                <input class="btn btn-lg btn-lg btn-block boton3" href="#"  data-toggle="modal" data-target="#myModal2" value="cerrar">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal footer -->
        </div>
    </div>
</div>
<!-- FIN POPUP -->






<div class="pie mostrar_pie">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left align-self-center">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left align-self-center">
                        <p class="textopie">PerúEduca</p>
                        <p class="textopie"><a href="http://www.perueduca.pe/ayuda/">Soporte PerúEduca</a></p>
                        <p class="textopie">Aló PerúEduca 0800-40210</p>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right align-self-center">
                        <p class="textopie">Sigue a PerúEduca:</p>
                        <p class="py-2">
                            <a href="https://www.facebook.com/perueduca/"><img src="assets//ico_face.png"></a>
                            <a href="https://twitter.com/perueduca?lang=es"><img src="assets/img/ico_twee.png"></a>
                            <a href="https://www.youtube.com/user/perueduca"><img src="assets//ico_youtube.png"></a></p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  text-right ">
                <img src="assets/img/logo_educacion.png" class="logominedu">
            </div>
        </div>
    </div>
</div>


<div class="pie ocultar_pie">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left align-self-center">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left align-self-center">
                        <p class="textopie">PerúEduca</p>
                        <p class="textopie"><a href="http://www.perueduca.pe/ayuda/">Soporte PerúEduca</a></p>
                        <p class="textopie">Aló PerúEduca 0800-40210</p>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right align-self-center">
                        <p class="textopie">Sigue a PerúEduca:</p>
                        <p class="py-2">
                            <a href="https://www.facebook.com/perueduca/"><img src="assets/img/ico_face.png"></a>
                            <a href="https://twitter.com/perueduca?lang=es"><img src="assets//ico_twee.png"></a>
                            <a href="https://www.youtube.com/user/perueduca"><img src="assets/img/ico_youtube.png"></a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 borde text-center ">
                <p><img src="assets/img/logo_educacion.png" class="logominedu"></p>
            </div>
        </div>
    </div>
</div>


<script src="js/menu.js"></script>
<script src="js/main.js"></script>


</body>
</html>
