@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('/assets/fonts/GothamRounded-Medium.eot');
  src: url('/assets/fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/GothamRounded-Medium.woff') format('woff'),
  url('/assets/fonts/GothamRounded-Medium.ttf') format('truetype'),
  url('/assets/fonts/GothamRounded-Medium.svg#futura_bk_btbook') format('svg');
  }
  @font-face {
    font-family: 'GothamRounded-Bold';
    src: url('/assets/fonts/GothamRounded-Bold.eot');
    src: url('/assets/fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/GothamRounded-Bold.woff') format('woff'),
    url('/assets/fonts/GothamRounded-Bold.ttf') format('truetype'),
    url('/assets/fonts/GothamRounded-Bold.svg#futura_bk_btbook') format('svg');
    }
    @font-face {
      font-family: 'GothamRounded-Book';
      src: url('/assets/fonts/GothamRounded-Book.eot');
      src: url('/assets/fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/GothamRounded-Book.woff') format('woff'),
      url('/assets/fonts/GothamRounded-Book.ttf') format('truetype'),
      url('/assets/fonts/GothamRounded-Book.svg#futura_bk_btbook') format('svg');
      }

html {
  overflow-x: hidden;
}

body {
  background-color: #f8f9fa;

}
p{
  padding: 0px;
  margin: 0px;
}

.img-fluid {
 max-width: 100%;
 height: auto;
}

.img-logo {
  max-width: 70%;
  height: auto;
 }

.site-section {
  background-color: #ffffff;
  border-bottom: 1px solid #58595B;
  padding-top:15px;
  padding-bottom: ;
  height: 100px !important;

}

.alineadocentro {
  justify-content: center;
}

.barramenu {
  background-color: #ff2e45;
  height: 45px;

}
.backregistro {
  border-radius: 10px;
  margin: 20px auto;
  background: #ffffff;
  border: 1px solid #d3e6ff;
}

.backSUBTITULO {
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  border-radius: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  background: #f8f9fa;
  border-top: 3px solid #2282ff;
  color: #2282ff;
}

.barrapopup {
  padding: 1px 1px 1px 1px;
  border-radius: 10px;
  margin: 3px 0px 3px 0px;
  background: #fff;
  border: 1px solid #ededed;
}

.titulo {
  font-family: "GothamRounded-bold";
  font-size: 1.6rem;
  color: #2282ff !important;
  padding: 10px 0px;
  margin-top: 15px;
  LINE-HEIGHT:26px;
}
.titulo a {
  color: #ff2e45;
}
.titulo a:hover {
  color: #ff2e45;
  text-decoration: underline;
}

.subtitulo {
  font-family: "GothamRounded-Medium";
  font-size: 1.2rem;
  color: #ff2e45 !important;
  padding-bottom: 10px;
  padding-top: 10px;

}
.subtitulo a {
  color: #ff2e45;
}
.subtitulo a:hover {
  color: #ff2e45;
  text-decoration: underline;
}

.titulocampo {
  font-family: "GothamRounded-book";
  font-size: 0.9rem;
  color: #525252 !important;
  padding: 2px 5px;
  LINE-HEIGHT:17px;
}
.titulocampo a {
  color: #ff2e45;
  text-decoration: underline;
}
.titulocampo a:hover {
  color: #ff2e45;
  text-decoration: none;
}

.backcirculo {
  font-family: "GothamRounded-Medium";
  border-radius: 20px !important;
  margin: 0px 0px 0px 5px;
  padding: 7px 11px 7px 11px;
  background: #c0c7ce;
  border: 3px solid #f0f3f6;
  font-family: "GothamRounded-book";
  font-size: 1rem;
  LINE-HEIGHT:15px;
  color: #ffffff;
}
.backcirculo a {
  color: #ffffff;
  text-decoration: none;
}
.backcirculo a:hover {
  color: #292929;
  text-decoration: none;
}


.textocampos {
  font-family: "GothamRounded-book";
  font-size: 0.95rem;
  color: #6f6f6f !important;
}

.textocampos2 {
  font-family: "GothamRounded-book";
  font-size: 0.85rem;
  color: #6f6f6f !important;
}

.textocontenido {
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  color: #535353 !important;
  LINE-HEIGHT:19px;
}
.textocontenido a {
  color: #ff2e45;
  text-decoration: underline;
}
.textocontenido a:hover {
  color: #ff2e45;
  text-decoration: none;
}


.btn-primary {
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  background-color: #2282ff;
  border-color: #2282ff;
}
.btn-primary:hover {
  background-color: #ff2e45;
  border-color: #ff2e45;
}
.btn-primary:active {
  background-color: #ff2e45;
  border-color: #ff2e45;
}
.btn-primary:visited{
  background-color: #ff2e45;
  border-color: #ff2e45;
}
.btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2);
}

.boton1 {
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  text-align: center;
  padding: 8px 15px 8px 15px;
  border:  rgba(255, 46, 69, 1) 1px solid;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: #ff2e45 !important;
}

.boton1:hover {
  background-color: rgba(34, 130, 255, 1) !important;
  border:  rgba(34, 130, 255, 1) 1px solid;
  color: rgba(255, 255, 255, 1) !important;
 }
 .boton1:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2) !important;
 }

 .boton2 {
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  text-align: center;
  padding: 8px 15px 8px 15px;
  border:  rgba(34, 130, 255, 1) 1px solid;
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: #2282ff !important;
}

.boton2:hover {
  background-color: rgb(255, 255, 255) !important;
  border:  rgb(116, 176, 255) 1px solid;
  color: rgba(34, 130, 255, 1) !important;
 }
 .boton2:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2) !important;
 }

 .boton3 {
  font-family: "GothamRounded-Medium";
  font-size: 1rem;
  text-align: center;
  padding: 8px 15px 8px 15px;
  border:  rgb(116, 176, 255) 1px solid;
  color: rgba(34, 130, 255, 1) !important;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: #f5f5f5 !important;
}

.boton3:hover {
  background-color: rgb(255, 255, 255) !important;
  border:  rgb(116, 176, 255) 1px solid;
  color: rgba(34, 130, 255, 1) !important;
 }
 .boton3:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2) !important;
 }
 .boton4 {
  font-family: "GothamRounded-Medium";
  font-size: 0.9rem;
  text-align: center;
  padding: 6px 12px 6px 12px;
  border:  rgba(255, 46, 69, 1) 1px solid;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none !important;
  background-color: #ff2e45 !important;
}

.boton4:hover {
  background-color: rgba(34, 130, 255, 1) !important;
  border:  rgba(34, 130, 255, 1) 1px solid;
  color: rgba(255, 255, 255, 1) !important;
 }
 .boton4:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2) !important;
 }

 #tabs{
  border-bottom: 0px solid #ededed !important;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: rgba(34, 130, 255, 1) !important;
  border: #ffffff 0px solid !important;
  border-radius: 5px 5px 0px 0px !important;
  border-right: #ffffff 1px solid !important;
  color: #ffffff !important;
}

#tabs .nav-tabs .nav-link {
font-family: "GothamRounded-Medium";
text-align:center;
}
#tabs .nav-tabs a:hover {
  background-color: rgba(34, 130, 255, 1) !important;
  color: rgba(255, 255, 255, 1);
 }

#tabs .nav-tabs {
  border-bottom: #ff2e45 0px solid !important;
}

 .botontab1 {
  font-family: "GothamRounded-Medium";
  font-size: 0.9rem;
  text-align: center;
  padding: 5px 1px !important;
  margin: 0px;
  color: #595959;
  text-decoration: none !important;
  background-color: #e6e6e6 !important;
  border-radius: 5px 5px 0px 0px !important;
  border-right: #ffffff 1px solid !important;
  cursor: pointer;
}

.botontab1:hover {
  background-color: rgba(34, 130, 255, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border: #2282ff 1px solid !important;
 }

 .botontab1:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 111, 111, 0.2) !important;
 }

 .linea {
  border-bottom: #ededed 1px solid;
}

 /**TABLA**/
 .fila1 {
  font-family: "GothamRounded-Medium";
  font-size: 0.8rem;
  text-align: left;
  padding: 0px 0px;
  color: #ffffff;
  background-color: #6f6f6f !important;
}

.fila2 {
  font-family: "GothamRounded-book";
  font-size: 0.75rem;
  text-align: left;
  padding: 0px 0px;
  margin: 0px;
}







 /**PIE DE PAGINA**/
 .pie {
  padding: 0px 0px;
  background-color: #3b3b3a;
  padding-top: 10px;
  padding-bottom: 10px;
}
.textopie {
  font-family: "GothamRounded-book";
  font-size: 0.8rem;
  color: #ffffff !important;
  LINE-HEIGHT:20px;
}
.textopie a {
  color: #ffffff;
}
.textopie a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.botoncerrar {
  font-family: "GothamRounded-Medium";
  font-size: 0.75rem;
  color: #4d4d4d;
  background-color: #ffffff !important;
  border: 1px solid #d2deff !important;
  border-radius: 20px;
  padding: 4px 8px !important;
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 10px;
}
.botoncerrar:hover {
  color: #4d4d4d;
  background-color: #f3f3f3 !important;
  border: rgba(223, 223, 223, 0.9) 1px solid !important;
  text-decoration: none;
}
.mostrar_col {
  display: none;
}
.btvermas {
  display: none;
}


@media (min-width: 768px) {
  .ocultar_pie {
    display: none;
  }
}

@media (max-width: 768px) {
  .mostrar_pie {
    display: none;
  }
  .mostrar_col {
    display: inline;
  }
  .btvermas {
    display: block;
  }
  .cat1 {
    display: none;
  }
  .cat2 {
    display: none;
  }
  .cat3 {
    display: none;
  }
  .cat4 {
    display: none;
  }
  .cat5 {
    display: none;
  }
  .desaparece {
    display: none;
  }
  .textopie {
    font-family: "GothamRounded-book";
    font-size: 0.7rem;
    color: #ffffff !important;
    LINE-HEIGHT:15px;
  }
  .logominedu {
    width: 160px;
  }
  .botontab1 {
    font-size: 0.7rem;
    text-align: center;
    padding: 4px 1px 2px 1px !important;
    border-radius: 5px 5px 0px 0px !important;
    border-top: #ffffff 1px solid !important;
    LINE-HEIGHT:13px;
  }
  .botontab1:hover {
    background-color: rgba(34, 130, 255, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
    padding: 4px 1px 2px 1px !important;
   }

  #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-size: 0.7rem;
    text-align: center;
    padding: 4px 1px 2px 1px !important;
    border-radius: 5px 5px 0px 0px !important;
    border-top: #ffffff 1px solid !important;
  }

  .textocontenido {
    text-align: left;
    font-size: 0.8rem;
    LINE-HEIGHT:17px;
  }
  .titulo {
    font-size: 1.2rem;
    padding: 5px 0px;
    margin-top: 15px;
    LINE-HEIGHT:20px;
  }
  .backSUBTITULO {
    font-size: 1rem;
    margin: 0px 0px 15px 0px;
    padding: 10px;
  }
  .botoncerrar {
    font-size: 11px;
    border-radius: 20px;
    padding: 4px 8px !important;
    z-index: 0;
    position: relative;
    margin: 5px 0px;
    top: 0px;
  }

  .boton1 {
    font-size: 0.8rem;
    padding: 7px 12px 7px 12px;
  }

  .boton2 {
    font-size: 0.8rem;
    padding: 5px 11px 5px 11px;
  }

  .boton3 {
    font-size: 0.8rem;
    padding: 7px 12px 7px 12px;
  }

  .boton4 {
    font-size: 0.8rem;
    padding: 5px 10px 5px 10px;
  }
  .titulocampo {
    font-family: "GothamRounded-book";
    font-size: 0.8rem;
  }
  .textocampos {
    font-family: "GothamRounded-book";
    font-size: 0.75rem;
    color: #6f6f6f !important;
  }

  .textocampos2 {
    font-family: "GothamRounded-book";
    font-size: 0.75rem;
    color: #6f6f6f !important;
  }

}



/*TABLA RESPONSIVE*/
table {
  background-color: #fff;
}
th {
  font-family: "GothamRounded-Book";
  font-size: 0.8rem;
  text-align: center;
  padding: 8px 8px !important;
  color: #ffffff;
  background-color: #64adff !important;
}
td {
  font-family: "GothamRounded-book";
  font-size: 0.8rem !important;
  padding: 10px 3px;
  margin: 0px;
  color: #292929;
  border-bottom: 1px solid #9eccff;
}
tr.otrocolor {
  font-family: "GothamRounded-book";
  font-size: 0.8rem !important;
  color: #292929;
  background-color: #f1f5f9 !important;
}
.txtcenter {
  text-align: center;
}

@media (max-width: 768px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, tfoot, th, td, tr, caption {
      display: block;

  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;


  }

  tr { border: 1px solid rgb(240, 240, 240);
  margin-bottom: 10px;
  border-bottom: 3px solid #9eccff;
 }

  tbody td {
  /* Behave  like a "row" */
  border: none;
  position: relative;
  padding-left: 50% !important;
  border-bottom: 1px solid #d4e6fa;

}

  tbody td:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  font-family: "GothamRounded-bold";
  font-size: 0.8rem !important;
  left: 10px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  text-align: left !important;
  color: #292929;

}
  .txtcenter {
    text-align: left;
  }

  /*
  Label the data
  */
  tbody td:before { content: attr(data-heading);
   }
}
/*FIN TABLA RESPONSIVE*/



/*PAGINACION*/
.page-item.active .page-link {
  font-family: "GothamRounded-Medium";
  z-index: 3;
  color: #fff;
  background-color: #ff2e45 !important;
  border-color: #ff2e45 !important;
}
.page-link {
  font-family: "GothamRounded-book";
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #595959;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination-sm .page-link {
  padding: .25rem .5rem;
  font-size: 14px;
  line-height: 1.5;
  color: #595959;
}
.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #595959;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link a {
  background-color: rgb(247, 247, 247);
  border: 1px solid #dee2e6;
}
.page-link:hover {
  color: #ff2e45 ;
  background-color: rgb(247, 247, 247);
  border: 1px solid #dee2e6;
}
/*FIN PAGINACION*/

